h1 a {
  color: #fbf7f1;
}

body {
  background: #232325;
  color: #d3cec5;
}

.page-header {
  background-color: #bf7918;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  border: none !important;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Arvo', sans-serif;
}

.date {
  color: #b8b2a9;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
  color: inherit;
}

label {
  color: inherit;
}

input, textarea {
  color: #000;
}

footer {
  position: relative;
  bottom: 0;
  padding: 20px 20px 0 20px;
}